<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.up.info.dao.UserDAO">
	<select id="query4Login" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM USER
		WHERE USERNAME = #{username} AND
		PASSWORD = #{password} AND
		ROLE = #{role}
	</select>
</mapper>